{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error page</h1>

    <p>
        Vous rencontrez une erreur <a href="{{ path('homepage') }}">retour à l'accueil</a>.
    </p>
{% endblock %}
